<!DOCTYPE html>

<html>
    <head>

        <link type="text/css" rel="stylesheet" href="/templates/styles.css" />

    </head>

    <body style="margin: 10";  >
        <nav>
            <a href="/blog">Home</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="/blog/newpost">New Post</a>
        </nav>

        <h1 style="background-color: blue; color: white; margin: 0 height:50px;">
            Build-A-Blog
        </h1>

        {% block content %}
        {% endblock %}
    </body>

</html>
